<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/public/css/common.css">
	<link rel="stylesheet" href="/public/css/article_detail.css">
</head>
<body>
	<header>
		<h2>文章详情</h2>
		<div>
			<% if (isLogin) { %>
	          <span>欢迎您，<%= user.user_name %></span>
	          <a href="/logout">退出登录</a>
	        <% } else { %>
	            <a href="/login">登录</a>
	            <a href="/signup">注册</a>
	        <% } %>
		</div>
		<hr />
	</header>
	<section>
		<header>
			<h3><%- data.article.title %></h3>
			<p><span>发表于&nbsp;<em><%= data.article.publish_time %></em></span><span>作者：<span><%= data.article.author %></span></span></p>
		</header>
		<section>
			<article><pre><%= data.article.content %></pre></article>
			<% if (data.isSelf) { %>
				<div id="operation">
					<a href="/article/edit/<%= data.article.article_id %>">
						<input id="edit" type="button" value="修改" />
					</a>
					&nbsp;&nbsp;&nbsp;
					<a id="delete_blog">
						<input id="delete" type="button" value="删除" />
					</a>
				</div>
			<% } %>
		</section>
	</section>
	<div class="pages">
        <a href="/">首页</a>
        <a onclick="history.back();">后退</a>
        <a onclick="history.forward();">前进</a>
    </div>
    <div id="overlay" class="overlay parent hide">
    	<div class="child">
    		<p>确定要删除吗？</p>
    		<br />
    		<input id="confirm" type="button" value="确定" />
    		&nbsp;
    		<input type="button" value="取消" onclick="closeOverlay();" />
    	</div>
    </div>
	<h3 class="comment">评论</h3>
	<% data.comments.forEach (function (comment){ %>
		<div name="comment_body">
			<div class="comment">
				<p class="float-left comment-author"><em><%= comment.commentHead.comment_author %></em></p>
				<div class="reply-content">
					<section><%= comment.commentHead.comment_text %></section>
					<footer class="footer">
						<small><%= comment.commentHead.comment_time %></small>
						<% if ( user.user_name != comment.commentHead.comment_author ) { %>
							<span relative_comment=<%= comment.commentHead.comment_id %> reply_author=<%= comment.commentHead.comment_author %> class="reply-btn">回复</span>
						<% } %>
						<% if(user.user_name == comment.commentHead.comment_author || user.user_name == data.article.author) { %>
							<span comment_id=<%= comment.commentHead.comment_id %> class="delete-btn">删除</span>
						<% } %>	
					</footer>
				</div>
			</div>
			<% comment.commentArray.forEach (function (reply){ %>
				<div class="comment-reply">
					<p class="float-left comment-author"><em><%= reply.comment_author %></em> 回复 <em><%= reply.reply_author %></em></p>
					<div class="reply-content">
						<section><%= reply.comment_text %></section>
						<footer class="footer">
							<small><%= reply.comment_time %></small>
							<% if ( user.user_name != reply.comment_author ) { %>
								<span relative_comment=<%= comment.commentHead.comment_id %> reply_author=<%= comment.commentHead.comment_author %> class="reply-btn">回复</span>
							<% } %>
							<% if(user.user_name == reply.comment_author || user.user_name == data.article.author) { %>
								<span comment_id=<%= reply.comment_id %> class="delete-btn">删除</span>
							<% } %>	
						</footer>
					</div>
				</div>
			<% }); %>
			<div isHide relative_comment=<%= comment.commentHead.comment_id %> class="hide">
				<p class="float-left comment-author"></p>
				<div>
					<section><textarea id="replyarea" required name="comment_text" id="comment_text" cols="65" rows="3"></textarea></section>
					<footer class="align-right">
						<input type="button" value="取消">
						&nbsp;
						<input name="submit"  class="comment-btn" type="button" value="提交" />
						<div class="message"></div>
					</footer>
				</div>
			</div>
		</div>
	<% }); %>

	<div id="newComment" class="hide"></div>
	<div class="comment clear">
		<p class="float-left comment-author"><em><%= user.user_name %></em></p>
		<div>
			<section><textarea id="commentarea" required name="comment_text" id="comment_text" cols="75" rows="3"></textarea></section>
			<footer class="">
				<input id="submitComment" class="comment-btn" type="button" value="提交" />
				<div class="message"></div>
			</footer>
		</div>
	</div>
    <script type="text/javascript" src="/public/js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="/public/js/common.js"></script>
    <script type="text/javascript">
    	var username = '<%= user.user_name %>',
    		reply_author,
    		relative_comment,
    		time,
    		$position;

    	//点击提交评论按钮
    	$("#submitComment").on('click', function (event) {
    		event.preventDefault();
    		var text = $('#commentarea').val();
    		time = new Date();
    		if (text) {
    			var article_id = <%= data.article.article_id %>;
    			$.post('/article/comment/' + article_id, { 'comment_text': text, 'comment_time': time }, function(data) {
    				if (typeof data == 'string') {
    					$('.message').html(data).fadeIn();
    				} else{

    					$('#newComment').removeClass('hide')
    					.addClass('comment')
    					.attr('name', 'comment_body')
    					.html('<p class="float-left comment-author"><em>' 
    						+ data.comment_author
    						+ '</em></p><div class="reply-content"><section>' 
    						+ data.comment_text
    						+ '</section><footer class=""><small>' 
    						+ data.comment_time
    						+ '</small><span comment_id=' 
    						+ data.comment_id
    						+ ' class="delete-btn">删除</span></footer></div>')
    					.removeAttr('id')
    					.after('<div id="newComment" class="hide"></div>')
    					.after(makeReply(data.comment_id));

    					$('textarea').val('');
    					bind();
    				};
    			});
    		} else{
    			alert('评论内容不能为空');
    		};
    	});

		function makeReply(relative_comment) {
			var $div = $('<div />');
			$div.attr( {'isHide': '', 'relative_comment': relative_comment, 'class': 'hide'} );
			$div.append('<p class="float-left comment-author"></p>');
			$div.append($('<div><section><textarea id="replyarea" required name="comment_text" id="comment_text" cols="65" rows="3"></textarea></section><footer class="align-right"><input type="button" value="取消">&nbsp;<input name="submit"  class="comment-btn" type="button" value="提交" /><div class="message"></div></footer></div>'));
			return $div;
		}

		//删除博客
		$('#delete').on('click', function () {
    		$('#overlay').removeClass('hide');

    		$('#confirm').off('click');
    		$('#confirm').on('click', function () {
    			$('#delete_blog').attr('href', "/article/delete/<%= data.article.article_id %>");
    			$('#delete').click();
    		});
    	});

		//绑定事件
		function bind() {

			//点击回复按钮事件
			$('.reply-btn').off('click');
			$('.reply-btn').on('click', function replyOther() {
				reply_author = $(this).attr('reply_author');
				relative_comment = $(this).attr('relative_comment');
				var html = '<em>' + username + '</em> 回复 <em>' + reply_author + '</em>';
				$('div[isHide]').removeClass('comment-reply').addClass('hide');
				$position = $(this).parents('.reply-content').parent().nextAll(".hide").first();
				$position.removeClass('hide')
					.addClass('comment-reply')
					.children('p')
					.html(html);
				$('div[class="comment-reply"] textarea').val('').focus();
			});

			//点击取消按钮事件
			$('input[value="取消"]').off('click');
			$('input[value="取消"]').on('click', function () {
				$('div[isHide]').removeClass('comment-reply').addClass('hide');
			});

			//点击删除一组评论按钮事件
			$('.comment .delete-btn').off('click');
			$('.comment .delete-btn').on('click', function () {
				var comment_id = $(this).attr('comment_id'),
					that = this;
				$('.overlay').removeClass('hide');

				$('#confirm').off('click');
				$('#confirm').on('click', function () {
					$.post('/comment/delete/1', {'comment_id': comment_id}, function(data) {
						$(that).parents('[name="comment_body"]').remove();
						console.log(comment_id);
						closeOverlay();
						console.log('删除回复成功');
					});
				});
			});

			//点击删除一条评论按钮事件
			$('.comment-reply .delete-btn').off('click');
			$('.comment-reply .delete-btn').on('click', function () {
				var comment_id = $(this).attr('comment_id'),
					that = this;
				$('.overlay').removeClass('hide');

				$('#confirm').off('click');
				$('#confirm').on('click', function () {
					$.post('/comment/delete', {'comment_id': comment_id}, function(data) {
						$(that).parents('.comment-reply').remove();
						closeOverlay();
						console.log('删除回复成功');
					});
				});
			});
		}
		bind();

		//绑定点击提交回复事件
		$('input[name="submit"]').on('click', function (event) {
			time = new Date();
			event.preventDefault();
			var text = $(this).parent().siblings().children('#replyarea').val();
			if (text) {
				var article_id = <%= data.article.article_id %>;
				$.post('/article/reply/' + article_id, { 'relative_comment': relative_comment, 'comment_text': text, 'comment-author': username, 'comment_time': time, 'reply_author': reply_author }, function(data) {
					if (typeof data != 'string') {
						var html = '<div class="comment-reply"><p class="float-left comment-author"><em>' 
							+ username 
							+ '</em> 回复 <em>' 
							+ reply_author 
							+ '</em></p><div class="reply-content"><section>' 
							+ text 
							+ '</section><footer class="footer"><small>' 
							+ time 
							+ '</small><span comment_id=' 
							+ data.comment_id
							+ ' class="delete-btn">删除</span></footer></div></div>';
						$(html).insertBefore($position);
						$('#replyarea').val('');
						$('input[value="取消"]').click();
						bind();
					} else{
						$('.message').html("请先登录，再进行评论").fadeIn();
					};
				});
			} else{
				alert('回复内容不能为空');
			};
		});

		
    </script>
</body>
</html>