<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/article_detail.css">
    <title><%= title %></title>
</head>
<body>
    <% include common/_header %>
    <section class="container">
        <aside class="aside"></aside>
        <section class="section">
            <header article_id="<%= data.article.article_id %>">
                <h3><%- data.article.title %></h3>
                <p><small><%= data.article.author %></small><small><%= data.article.publish_time %></small><small><%= data.article.visited%>次浏览</small><span id="ope-recommend"><i class="icon-thumbs-up">&nbsp;</i><b>点赞</b></span><span <% if(data.collect){ %> collected <% } %> id="ope-collect"><i class="icon-star-empty">&nbsp;</i><b>收藏</b></span></p>
                <script type="text/javascript">
                    console.log(<%= data.collect %>);
                </script>
            </header>
            <section>
                <article><%- data.article.content %></article>
                <% if (data.isSelf) { %>
                    <div id="operation">
                        <a href="/article/create/<%= data.article.article_id %>"  class="btn btn-green">
                            <i class="icon-pencil">&nbsp;</i>
                            修改
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a id="delete_blog" article_id="<%= data.article.article_id %>" class="btn btn-blue btn-red">
                            <i class="icon-trash">&nbsp;</i>
                            删除
                        </a>
                    </div>
                <% } %>
            </section>
            <footer class="comments">
                <h3>评论</h3>
                <% data.comments.forEach (function (comment){ %>
                    <div class="comment">
                        <b class="user"><%= comment.commentHead.comment_author %></b>
                        <p>
                            <%= comment.commentHead.comment_text %>
                            <br>
                            <small><%= comment.commentHead.comment_time %></small>
                            <% if ( user.user_name != comment.commentHead.comment_author ) { %>
                                <span name="reply-btn" article_id=<%= data.article.article_id %> relative_comment=<%= comment.commentHead.comment_id %> reply_author=<%= comment.commentHead.comment_author %> class="right">回复</span>
                            <% } %>
                            <% if(user.user_name == comment.commentHead.comment_author || user.user_name == data.article.author) { %>
                                <span name="reply-delete" comment_id=<%= comment.commentHead.comment_id %> class="right">删除</span>
                            <% } %>
                        </p>
                    </div>
                    <% comment.commentArray.forEach (function (reply){ %>
                        <div class="reply">
                            <span>
                                <b class="user"><%= reply.comment_author %></b>
                                &nbsp;回复&nbsp;
                                <b class="user"><%= reply.reply_author %></b>
                            </span>
                            <p>
                                <%= reply.comment_text %>
                                <br>
                                <small><%= reply.comment_time %></small>
                                <% if ( user.user_name != reply.comment_author ) { %>
                                    <span name="reply-btn" article_id=<%= data.article.article_id %> relative_comment=<%= comment.commentHead.comment_id %> reply_author=<%= comment.commentHead.comment_author %> class="right">回复</span>
                                <% } %>
                                <% if(user.user_name == reply.comment_author || user.user_name == data.article.author) { %>
                                    <span name="reply-delete" comment_id=<%= reply.comment_id %> class="right">删除</span>
                                <% } %> 
                            </p>
                        </div>
                    <% }); %>
                    <div class="reply none">
                        <span>
                            <b class="user"><%= user.user_name %></b>
                            &nbsp;回复&nbsp;
                            <b class="user"></b>
                        </span>
                        <p>
                            <textarea name="" id="" cols="60" rows="5"></textarea>
                            <span name="reply-submit" username=<%= user.user_name %> class="btn btn-green right">回复</span>
                            <span name="reply-cancel" class="btn btn-default right">取消</span>
                        </p>
                    </div>
                <% }); %>
                <% if(isLogin) { %>
                <div class="comment">
                    <b class="user"><%= user.user_name %></b>
                    <p>
                        <textarea name="" id="" cols="82" rows="5"></textarea>
                        <span id="comment-submit" author=<%= user.user_name %> article_id=<%= data.article.article_id %> class="btn btn-green right">提交</span>
                    </p>
                </div>
                <% } %>
            </footer>
        </section>
    </section>
    <%- include common/_footer %>
    <script type="text/javascript" src="/public/js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="/public/js/common.js"></script>
    <script type="text/javascript" src="/public/js/article_detail.js"></script>
</body>
</html>