<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/public/css/font-awesome/font-awesome.min.css">
	<link rel="stylesheet" href="/public/css/common.css">
	<link rel="stylesheet" href="/public/css/index.css">
	<title><%= title %></title>
</head>
<body>
	<% include common/_header %>
	<section class="container">
        <aside class="aside">
        	<a onclick="beforePublish(<%= isLogin %>)" class="btn btn-blue"><i class="icon-pencil"></i></span>&nbsp;&nbsp;写文章</a>
        	<% if(isLogin) { %>
	    		<div class="aboutme">
	    			<div><%= user.user_name %></div>
	    			<span>我的年龄:<span id="info-old"></span></span>
	    			<span>原创(<span id="info-create"></span>)</span>
	    			<span>收藏(<span id="info-collection"></span>)</span>
	    		</div>
	    	<% } %>
        	<div class="recommend">
        		<h3>风云榜</h3>
        		<ul>
	    			<% hots.forEach (function(hot) { %>
	        			<li><a href="/article/<%= hot.article_id %>"><i class=" icon-tint"></i>&nbsp;&nbsp; <%= hot.title %></a></li>
	    			<% }) %>
        		</ul>
        	</div>
        </aside>
		<section class="section">
			<ul>
			      <li <% if(orderBy == 'latest'){ %>class="active"<% } %>><a href="/">最新</a></li>
			      <li <% if(orderBy == "'hotest'"){ %>class="active"<% } %>><a href="/index?orderBy='hotest'">最热</a></li>
			</ul>
			<% if (articles.length) { var i = 1; %>
	            <% articles.forEach (function(article) { %>
	            	<div class="card">
	                    <article>
	                        <h3><strong><a href="/article/<%= article.article_id %>"><%= i+15*(index-1) + '、' + article.title %></a></strong></h3>
	                        <p><%= article.content %><a href="/article/<%= article.article_id %>" class="btn btn-small">查看全文</a></p>
	                    </article>
	                    <small><%= article.author %></small><small>发表于<%= article.publish_time %></small><small><%= article.visited %>&nbsp;次浏览</small><small><i class="icon-thumbs-up"></i>&nbsp;点赞(<%= article.recommend %>)</small><small><i class="icon-comment"></i>&nbsp;评论(<%= article.comments %>)</small>
	                </div>
	            <% i++; }); %>
	        <% } %>
	        <div class="page">
	        	<a title="上一页" <% if(index>1){ %>href="/index/<%= index-1 %>?orderBy=<%= orderBy %>&keyword=<%= keyword %>"<% } else{ %>onclick="showMessage('已是最前一页')"<% } %>>
	        		<i style="font-size: 1.2em;" class="icon-angle-left"></i>
	        	</a>
	        	<% for(var i = 1; i <= Math.ceil(counts/15); i++){ %>
	        		<a href="/index/<%= i %>?orderBy=<%= orderBy %>&keyword=<%= keyword %>" <% if(index==i){ %>class="active"<% } %>><%= i %></a>
	        	<% } %>
	        	<a title="下一页" <% if(index<Math.ceil(counts/15)){ %> href="/index/<%= parseInt(index, 10)+1 %>?orderBy=<%= orderBy %>&keyword=<%= keyword %>"<% } else{ %>onclick="showMessage('已是最后一页')"<% } %>>
					<i style="font-size: 1.2em;" class="icon-angle-right"></i>
	        	</a>
	        </div>
		</section>
	</section>
	<%- include common/_footer %>
	<script type="text/javascript" src="/public/js/jquery-1.12.1.min.js"></script>
	<script type="text/javascript" src="/public/js/common.js"></script>
	<script type="text/javascript" src="/public/js/index.js"></script>
</body>
</html>