<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/public/css/font-awesome/font-awesome.min.css">
	<link rel="stylesheet" href="/public/css/common.css">
	<link rel="stylesheet" href="/public/css/index.css">
	<title><%= title %></title>
</head>
<body>
	<% include common/_header %>
	<section class="container">
        <aside class="aside">
        	<a onclick="beforePublish(<%= isLogin %>)" class="btn btn-blue"><i class="icon-pencil"></i></span>&nbsp;&nbsp;写文章</a>
        	<% if(isLogin) { %>
	    		<div class="aboutme">
	    			<span><%= user.user_name %><br>我的年龄:30天</span>
	    			<span>原创(5)</span>
	    			<span>收藏(10)</span>
	    		</div>
	    	<% } %>
        	<div class="recommend">
        		<h3>热搜榜</h3>
        		<ul>
        			<li><a><span class="glyphicon glyphicon-tint"></span>&nbsp;&nbsp; 乐视高管大调整，你需要关注哪些细节？</a></li>
        			<li><a><span class="glyphicon glyphicon-tint"></span>&nbsp;&nbsp; 2016年，线下市场才是小米的胜负手</a></li>
        			<li><a><span class="glyphicon glyphicon-tint"></span>&nbsp;&nbsp; 2015移动互联网人群行为分析报告：高学历白领痴迷网购</a></li>
        			<li><a><span class="glyphicon glyphicon-tint"></span>&nbsp;&nbsp;中国第一个做O2O的电子商务网站是如何倒闭的</a></li>
        			<li><a><span class="glyphicon glyphicon-tint"></span>&nbsp;&nbsp; Linux运维细讲之vim的基础使用</a></li>
        		</ul>
        	</div>
        </aside>
		<section class="section">
			<ul>
			      <li class="active"><a href="##">最新</a></li>
			      <li><a href="##">最热</a></li>
			</ul>
			<% if (count) { var i = 1; %>
	            <% articles.forEach (function(article) { %>
	            	<div class="card">
	                    <article>
	                        <h3><strong><a href="/article/<%= article.article_id %>"><%= i + '、' + article.title %></a></strong></h3>
	                        <p><%= article.content %><a href="/article/<%= article.article_id %>" class="btn btn-small">查看全文</a></p>
	                    </article>
	                    <small><%= article.author %></small><small>发表于<%= article.publish_time %></small><small><%= article.visited %>&nbsp;次浏览</small><small><i class="icon-thumbs-up"></i>&nbsp;点赞(<%= article.recommend %>)</small><small><i class="icon-comment"></i>&nbsp;评论(<%= article.comments %>)</small>
	                </div>
	            <% i++; }); %>
	        <% } %>
		</section>
	</section>
	<%- include common/_footer %>
	<script type="text/javascript" src="/public/js/jquery-1.12.1.min.js"></script>
	<script type="text/javascript" src="/public/js/common.js"></script>
</body>
</html>