<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/public/css/font-awesome/font-awesome.min.css">
	<link rel="stylesheet" href="/public/css/common.css">
	<title><%= title %></title>
	<style>
		table {
			margin: 20px auto;
			width: 80%;
			padding: 40px;
			border-collapse: collapse;
		}
		td {
			text-align: center;
		}
		tr {
			height: 48px;
		}
		tr:nth-child(2n) {
			background: rgba(171, 205, 239, .4);
		}
		tr:nth-child(2n+1) {
			border: 1px solid rgba(171, 205, 239, .4);
		}
		thead>tr, tr:hover {
			background: rgba(171, 205, 239, .6);
		}
		#deleteBlog:hover {
			cursor: pointer;
			border-bottom: 1px solid #000;
		}
		.toTop {
			right: 5%;
		}
	</style>
</head>
<body>
	<header class="main-head">
		<h3 class="logo">XDUBlog</h3>
		<ul class="main-nav">
			<% if(isLogin) {%>
				<li>
					<a id="welcome" data-user-id=<%= user.user_id %>>
						管理员&nbsp;<%= user.user_name %>
						&nbsp;&nbsp;
						<i class="icon-caret-down"></i>
					</a>
					<ul class="mine">
						<!-- <li><a href="#"><i class="icon-user"></i>&nbsp;&nbsp;个人资料</a></li> -->
						<li><a href="/manage"><i class="icon-user">&nbsp;&nbsp;</i>用户管理</a></li>
						<!-- <li><a href="/manageBlog"><i class="icon-edit"></i>&nbsp;&nbsp;博客管理</a></li> -->
						<li><a href="/logout"><i class="icon-off"></i>&nbsp;&nbsp;退出登录</a></li>
					</ul>
				</li>
			<% } else { %>
				<li><a href="/">首页</a></li>
				<li><a id="btn-login">登录</a></li>
				<li><a id="btn-signup">注册</a></li>
			<% } %>
		</ul>
	</header>
	<div class="overlay hid">
		<div class="form">
			<div class="row-self">
				<span>注册</span>
				<span>登录</span>
			</div>
			<div class="row-self msg">
				<p id="msg">用户名或密码错误</p>
			</div>
			<div class="row-self">
				<label class="">用户名<i class="icon-user"></i></label>
				<input data-status="false" id="username" class="col-md-5" name="username" type="text" placeholder="请输入用户名" required />
				<i></i>
			</div>
			<div class="row-self">
				<label class="">邮箱<i class="icon-envelope"></i></label>
				<input data-status="false" id="email" class="col-md-5" name="email" type="email" placeholder="example@163.com" required />
				<i></i>
			</div>
			<div class="row-self">
				<label class="">密码<i class="icon-lock"></i></label>
				<input data-status="false" id="password" class="col-md-5" name="password" type="password" placeholder="不少于6个字符" required />
				<i></i>
			</div>
			<div class="row-self">
				<label class="">确认密码<i class="icon-key"></i></label>
				<input data-status="false" id="repass" class="col-md-5" name="repass" type="password" placeholder="再次输入密码" required />
				<i></i>
			</div>
			<div class="row-self">
				<label class="">验证码<i class="icon-spinner"></i></label>
				<input data-status="false" max="4" id="captcha" class="col-md-5" name="captcha" type="text" required />
				<i></i>
			</div>
			<div class="row-self">
				<label class=""></label>
				<img id="captcha-img" style="margin-bottom: -6px;" src="/captcha/get?width=120&height=35" alt="" height="40" width="120">
				<a class="btn-captcha" href="javascript:;" onclick="change()">看不清，换一张</a>
			</div>
			<div class="row-self">
				<button id="cancel" type="button" class="btn btn-default">取消</button>
				<button id="submit" type="button" class="btn btn-green">注册</button>
			</div>
		</div>
	</div>
	<div id="main-msg" class="msg">
		<span></span>
	</div>
	<form class="confirm hid" action="" method="post">
		<h3>确定要删除吗？</h3>
		<br /><br />
		<input class="btn btn-blue btn-red" id="confirm" type="submit" value="删除" />
		&nbsp;
		<input class="btn btn-default" type="button" value="取消" onclick="closeOverlay();" />
	</form>
	<section class="container">
		<section class="section">
        	<table>
        		<thead>
        			<tr>
        				<th>序号</th>
        				<th>博客id</th>
        				<th>博客标题</th>
        				<th>博客作者</th>
        				<th>发表时间</th>
        				<th>浏览数</th>
        				<th>推荐数</th>
        				<th>评论数</th>
        				<th>操作</th>
        			</tr>
            	</thead>
            	<tbody>
			<% if (blogs.length) { var i = 1; %>
	            <% blogs.forEach (function(blog) { %>
	            <tr>
	            	<td><%= i+15*(index-1) %></td>
	            	<td><%= blog.article_id %></td>
	            	<td><%= blog.title %></td>
	            	<td><%= blog.author %></td>
	            	<td><%= blog.publish_time %></td>
	            	<td><%= blog.visited %></td>
	            	<td><%= blog.recommend %></td>
	            	<td><%= blog.comments %></td>
	            	<td><span id="deleteBlog" name="deleteBlog" data-blog_id=<%= blog.article_id %>>删除</span></td>
	            </tr>
	            <% i++; }); %>
	        <% } %>
	        	</tbody>
	        </table>
            <div class="page">
            	<a title="上一页" <% if(index>1){ %>href="/manageBlog/<%= index-1 %>"<% } else{ %>onclick="showMessage('已是最前一页')"<% } %>>
            		<i style="font-size: 1.2em;" class="icon-angle-left"></i>
            	</a>
            	<% for(var i = 1; i <= Math.ceil(counts/15); i++){ %>
            		<a href="/manageBlog/<%= i %>" <% if(index==i){ %>class="active"<% } %>><%= i %></a>
            	<% } %>
            	<a title="下一页" <% if(index<Math.ceil(counts/15)){ %> href="/manageBlog/<%= parseInt(index, 10)+1 %>"<% } else{ %>onclick="showMessage('已是最后一页')"<% } %>>
    				<i style="font-size: 1.2em;" class="icon-angle-right"></i>
            	</a>
            </div>
		</section>
	</section>
	<%- include common/_footer %>
	<script type="text/javascript" src="/public/js/jquery-1.12.1.min.js"></script>
	<script type="text/javascript" src="/public/js/common.js"></script>
	<script>
		$('span[name="deleteBlog"]').on('click', function () {
			var blog_id = $(this).attr('data-blog_id');
			$('.overlay').removeClass('hid');
			$('.confirm').attr('action', '/article/delete/' + blog_id).removeClass('hid');
		});
	</script>
</body>
</html>